h1
{
	font-family: Arial, "Georgia", "Verdana";
	color: black;
	font-size: 4em;
	font-weight: bold;
	font-style: Italic;
	text-align: center;
	text-shadow: 3px 3px 3px blue;
	border: 5px solid;
	border-radius: 500px/100px;
	box-shadow: 5px 5px 10px blue;
}
